<!DOCTYPE html>
<html>

<head>
    <title>Blobber • Home</title>
    <!--Import Google Icon Font-->
    <link href="../../stylesheets/icon.css" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../../stylesheets/materialize.css" media="screen,projection" />
    <!-- Custom css-->
    <link type="text/css" rel="stylesheet" href="../../stylesheets/custom.css" media="screen,projection" />
    <!--Import nprogress.css-->
    <link rel='stylesheet' href='../../stylesheets/nprogress.css' />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="grey lighten-5">
    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="/home/<%=user%>">Profile</a></li>
        <li><a href="/home/<%=user%>/settings">Settings</a></li>
        <li class="divider"></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
    <div class="navbar-fixed">
        <nav class="white">
            <div class="container">
                <div class="nav-wrapper">
                    <a href="#!" class="brand-logo grey-text">Blobber <span id="brand_badge" class="new badge"></span></a>
                    <a href="#" data-activates="slide-out" class="button-collapse grey-text"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="/home" class="grey-text"><i class="material-icons left">home</i>Home</a></li>
                        <!-- Dropdown Trigger -->
                        <li>
                            <a class="dropdown-button grey-text" href="#!" data-activates="dropdown1">
                                <%=user%>
                                    <i class="material-icons right">arrow_drop_down</i></a>
                        </li>
                    </ul>
                    <ul id="slide-out" class="side-nav">
                        <li><a href="/home"><i class="material-icons left">home</i>Home</a></li>
                        <li><a href="/home/<%=user%>">Profile</a></li>
                        <li><a href="/home/<%=user%>/settings">Settings</a></li>
                        <li>
                            <div class="divider"></div>
                        </li>
                        <li><a class="waves-effect" href="/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        <!-- Page Content goes here -->
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content grey-text">
                        <span class="card-title">Settings • <%=user%></span>
                    </div>
                    <div class="rule"></div>
                    <div class="card-content grey-text">
                        <table class="bordered striped highlight">
                            <thead>
                                <tr>
                                    <th data-field="id">#</th>
                                    <th data-field="first_name">First Name</th>
                                    <th data-field="last_name">Last Name</th>
                                    <th data-field="user_name">User Name</th>
                                    <th data-field="user_type">User Type</th>
                                    <th data-field="user_type">Options</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <form id="settings_entry1" name="settings_entry1" method="post" action="/settings-entry">
                                        <td>1</td>
                                        <td>Sandeep</td>
                                        <td>Vattapparambil</td>
                                        <td>sandeepvtprl</td>
                                        <td>admin</td>
                                        <td>
                                            <a class="waves-effect waves-teal btn-flat teal"><i class="material-icons">delete</i></a>
                                        </td>
                                    </form>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="card-action">
                        <a id="add_new_user" href="javascript:void(0)" class="waves-effect waves-teal btn-flat teal white-text">
                            <i class="material-icons left">add</i> Add</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="add_user_form" class="row" style="display:none">
            <div class="col s12">
                <div class="card">
                    <div class="card-content grey-text">
                        <span class="card-title grey-text">Add New User<i class="material-icons right">close</i></span>
                        <div class="row">
                            <div class="input-field col s12 m6">
                                <input id="first_name" type="text" class="validate">
                                <label for="first_name">First Name</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <input id="last_name" type="text" class="validate">
                                <label for="last_name">Last Name</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <input id="user_name" type="text" class="validate">
                                <label for="user_name">User Name</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <select>
                                <option value="" disabled selected>User Type</option>
                                <option value="1">Admin</option>
                                <option value="1">User</option>
                              </select>
                            </div>
                            <div class="input-field col s12 m6">
                                <input id="password" type="text" class="validate">
                                <label for="password">Password</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <input id="password_confirm" type="text" class="validate">
                                <label for="password_confirm">Confirm Password</label>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="#" class="waves-effect waves-teal btn-flat teal lighten-4 teal-text">Cancel</a>
                        <a href="#" class="waves-effect waves-teal btn-flat teal white-text">Save</a>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!--Import Materialize.js-->
    <script type="text/javascript" src="../../javascripts/materialize.js"></script>
    <!--Import nprogress.js-->
    <script src='../../javascripts/nprogress.js'></script>

    <!--Import Custom.js-->
    <script type="text/javascript" src="../../javascripts/custom.js"></script>
    <script>
        var message = "<%=message%>";
        if (message) {
            Materialize.toast(message, 4000);
        }
    </script>
</body>

</html>
